name: CD - Dataform

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      target_env:
        description: "Environment"
        required: true
        type: choice
        options: [qa, prod]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ github.event_name == 'push' && 'dev' || inputs.target_env }}

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Auth GCP
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.GCP_WIF_PROVIDER }}
          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}

      - uses: google-github-actions/setup-gcloud@v2

      # Dataform deploy steps...
